footer {
    width: 100%;
    background-color: #333366;;
    color:#FF9999;
    padding: 10px;
    margin-top: 500px;
}

footer .main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .main-second {
    display: flex;
    justify-content: space-between;
}

footer .main-second p {
    text-align: center;
}

.footer-left-side {
    margin-top: 40px;
}

.footer-left-side span {
    font-size: 20px;
    margin: 8px;
}

.footer-left-side span a{
    color:#FF9999;
}

.btn-mcl {
    background-color: #FF9999;
    color: #FFF;
}
