header {
    background-color: #333366;
    color:#FF9999;
    height: 100px;

    display: flex;
    justify-content: space-between;
}

nav ul li a {
    color: #FF9999;
    text-decoration: none;
    padding: 12px;
}

nav ul li a:hover {
    color: #FFF;
}

.navbar-toggler-mobile {
    background-color: #FF9999;
    color: #333366;
}

#banner {
    width: 300px;
    padding: 10px;

    display: flex;
    justify-content: flex-start;
}

footer .redes-contato * {
    color: #FF9999;
    margin-right: 10px;
    margin-top: 10px;
}

.header-right-side, .header-left-side {
    align-self: center;
}

.header-right-side p{
    font-size: 13px;
    margin-top: -10px;
}

.header-left-side span{
    display: flex;
    flex-direction: column;
}

.header-border-central {
    border-right: 1px solid #FF9999;
    margin-right: 10px;
    margin-left: 10px;
}

@media (max-width: 810px) {
    header {
        display: flex;
        justify-content: flex-end;
    }

    #banner {
        display: flex;
        justify-content: flex-end;
    }
    
    .menu-desk {
        display: none;
    }

    #menu-mobile {
        position: absolute;
        right: 0;
        top: 0px;
        padding-top: 0px;
        width: 100%;
        background-color: '';
    }
}

@media (max-width: 500px) {
    .menu-desk {
        display: none;
    }

    #menu-mobile {
        position: absolute;
        right: 0;
        top: 0px;
        padding-top: 0px;
        width: 100%;
        z-index: 9;
    }
}

@media (max-width: 350px) {
    #ul-menu-mobile {
        background-color: #333366;
    }
}
